doctype
html

	head
		include _head.jade
		title item
	body
		.out
			include _header.jade
			.main
				include _sidebar.jade	
				.main__content
					.page-head
						.page-title Муфта МТОК-А1/216-1КТ3645-К-77 (проволочная броня)
					.item-number Номенклатурный номер: 
						strong 130103-00071
					.row.product-item.js-parent
						.col.col_3
							.fotorama(
								data-nav="thumbs", 
								data-width="100%",
								data-min-height="400px",
								data-loop="true",
								data-thumbheight="100"
							)
								a(href="img/slide-big.png")
									img(src="img/slide-small.png",width="140", height="100", alt="img")
								a(href="img/slide-big.png")
									img(src="img/slide-small.png",width="140", height="100", alt="img")
								a(href="img/slide-big.png")
									img(src="img/slide-small.png",width="140", height="100", alt="img")
								a(href="img/slide-big.png")
									img(src="img/slide-small.png",width="140", height="100", alt="img")
							.article
								h2 Описание
								p Компания «СВЯЗЬСТРОЙДЕТАЛЬ», основной российский производитель оптических муфт, продолжает производство магистральных оптических муфт МТОК-А1. Муфты представляют собой модернизированный вариант широко распространённой муфты МТОК 96-О1-IV. 
								p В новой муфте используются те же детали корпуса, кронштейн, подкассетник и кабель-ные вводы №7 и №8. Но кассета изменилась. Теперь на ней не 32 места для КДЗС, а 36. Соответственно увеличилась до 216 сварок и общая ёмкость муфты.
								h3 Особенности: 
								ul
									li муфта предназначена для сращивания подземных и подводных ОК с бронёй из стальных проволок; 
									li может устанавливаться в колодцах, в котлованах и на дне водоёмов глубиной до 10 метров; 
									li муфта имеет три патрубка для ввода ОК и три малых патрубка для вывода проводов заземления (КИП); 
									li монтируется в вариантах «прямая муфта с вводом двух кабелей» и в варианте «разветвительная муфта с вводом трёх кабелей»; 
									li корпус муфты и вводы кабелей герметизируются трубками ТУТ с подклеивающим слоем; 
									li внутренние элементы муфты полностью соответствуют требованиям «Правил» 2006 г.; 
									li муфты поставляются с двумя установленными кабельными вводами; 
									li для сращивания двух подземных бронированных кабелей поставляется типоразмер 130103-00071. Муфта МТОК-А1/216-1КТ3645-К-77; 
									li для сращивания подземного и подводного бронированных кабелей поставляется типоразмер 130103-00072. Муфта МТОК-А1/216-1КТ3645-К-78; 
									li для сращивания двух подводных бронированных кабелей поставляется типоразмер 130103-00073. Муфта МТОК-А1/216-1КТ3645-К-88; 
									li в базовом комплекте муфты одна кассета с гильзами КДЗС и два кабельных ввода; 
									li для ввода в муфты третьего кабеля отдельно поставляются кабельные вводы №7 и №8; 
									li для увеличения ёмкости муфты отдельно поставляются «Комплекты кассеты КТ3645» с гильзами, стяжками и маркерами; 
									li для вывода из муфт проводов отдельно поставляется «Комплект провода заземления»; 
									li для оборудования подземного скрытого КИП поставляется «Контейнер проводов заземления»; 
									li для защиты оптической муфты при укладке её на дно водоёма отдельно поставляется муфта защитная МЧЗ и стальные крепления – кронштейн и фиксатор кабелей; 
									li для защиты оптической муфты при установке её в котлованах отдельно поставляются защитные муфты МЧЗ или МПЗ (выбираются по типу грунта); 
									li во всех вариантах установки защитные муфты заливаются вспенивающимся герметиком; 
									li для установки муфты в новых колодцах отдельно поставляется «Кронштейн для установки тупиковых муфт в колодцах»; 
									li для установки муфт в заполненных колодцах, под потолком, поставляются консоли типа КСО с крепежом; 
									li для установки кабельных вводов отдельно поставляется «Ключ для монтажа МТОК; 
									li для организации рабочего места для монтажа отдельно поставляются кронштейны и струбцины; 
									li имеются инструкции по монтажу, как самой оптической муфты, так и кассеты типа КТ3645 и муфт защитных. 
						.col.col_2
							.row
								.col.col_12
									.widget
										.widget__head
											.currency
												span.currency__title Курсы ЦБ РФ:
												span.currency__val
													i.icon-currency  $
													| 67,82
												span.currency__val
													i.icon-currency €
													| 76,29
										.widget__body
											.widget__scroll
												.widget__in.js-group2
													ul.tabs-list.tabs-list_small.js-tabs(data-tabs-group="js-group2")
														li
															a(href="#price-nds").is-active Цена с НДС
														li
															a(href="#price-no-nds") Цена без НДС
													.tabs-cont.js-tabs-cont(data-id="#price-nds", style="display: block")
														ul.table-list.table-list_small
															li
																div Валюта:
																div 
																	.select.select_small.js-select
																		.select__main.js-select-text Рубли
																		select
																			option(value="Рубли") Рубли
																			option(value="Доллары") Доллары
																			option(value="Евро") Евро
															li
																div розница:
																div 
																	strong 4 852,00
															li
																div ед. изм.:
																div 
																	strong к-т
															li
																div опт. кол-во:
																div 
																	strong 50
															li
																div опт:
																div 
																	strong 4 560,88 (-6%)
															li
																div доп. скидка:
																div 
																	strong Есть
													.tabs-cont.js-tabs-cont(data-id="#price-no-nds")
														ul.table-list.table-list_small
															li
																div Валюта:
																div 
																	.select.select_small.js-select
																		.select__main.js-select-text Рубли
																		select
																			option(value="Рубли") Рубли
																			option(value="Доллары") Доллары
																			option(value="Евро") Евро
															li
																div опт. кол-во:
																div 
																	strong 50
															li
																div опт:
																div 
																	strong 4 560,88 (-6%)
															li
																div доп. скидка:
																div 
																	strong Есть
										.widget__footer
											.number-title Количество
											.number.number_width.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
											a.btn.btn_width(href="#") 
												i.icon-basket
												| Купить
								.col.col_12
									.widget.widget_mod
										.widget__head
											.widget__title Дополнительно
										.widget__body
											.widget__scroll.js-accord-group
												.accord.accord_small.js-accord.is-open
													.accord__title.js-accord-toggle 
														| Инструкции по монтажу
													.accord__body.js-accord-list(style="display:block")
														a.file-item(href="#")
															.file-item__main
																i.icon-pdf
																span Декларация МОГ-Т
															.file-item__meta 541,45 КБ
														a.file-item(href="#")
															.file-item__main
																i.icon-pdf
																span Декларация МОГ-Т
															.file-item__meta 541,45 КБ
														a.file-item(href="#")
															.file-item__main
																i.icon-pdf
																span Декларация МОГ-Т
															.file-item__meta 541,45 КБ
														a.file-item(href="#")
															.file-item__main
																i.icon-pdf
																span Декларация МОГ-Т
															.file-item__meta 541,45 КБ
												.accord.accord_small.js-accord
													.accord__title.js-accord-toggle 
														| Декларации о соответствии
													.accord__body.js-accord-list
														a.file-item(href="#")
															.file-item__main
																i.icon-pdf
																span Декларация МОГ-Т
															.file-item__meta 541,45 КБ
														a.file-item(href="#")
															.file-item__main
																i.icon-pdf
																span Декларация МОГ-Т
															.file-item__meta 541,45 КБ
														a.file-item(href="#")
															.file-item__main
																i.icon-pdf
																span Декларация МОГ-Т
															.file-item__meta 541,45 КБ
														a.file-item(href="#")
															.file-item__main
																i.icon-pdf
																span Декларация МОГ-Т
															.file-item__meta 541,45 КБ
												.accord.accord_small.js-accord
													.accord__title.js-accord-toggle 
														| Видеоинструкции
													.accord__body.js-accord-list
														a.file-item(href="#")
															.file-item__main
																i.icon-pdf
																span Декларация МОГ-Т
															.file-item__meta 541,45 КБ
														a.file-item(href="#")
															.file-item__main
																i.icon-pdf
																span Декларация МОГ-Т
															.file-item__meta 541,45 КБ
														a.file-item(href="#")
															.file-item__main
																i.icon-pdf
																span Декларация МОГ-Т
															.file-item__meta 541,45 КБ
														a.file-item(href="#")
															.file-item__main
																i.icon-pdf
																span Декларация МОГ-Т
															.file-item__meta 541,45 КБ
										.widget__footer
											a.link-icon(href="#")
												i.icon-basket
												span Сопутсвующие товары и аналоги
							.tabs-box.js-group1
								ul.tabs-list.js-tabs(data-tabs-group="js-group1")
									li
										a(href="#characteristics").is-active Характеристики
									li
										a(href="#picking") Комплектации
								.tabs-cont.js-tabs-cont(data-id="#characteristics", style="display: block")
									ul.table-list
										li
											div Емкость сварных соединений в КДЗС
											div 
												strong 216
										li
											div Макс. кол-во касет КТ
											div 
												strong 4
										li
											div Макс. кол-во касет КУ
											div 
												strong -
										li
											div Макс. кол-во касет КМ
											div 
												strong -
										li
											div Макс. кол-во касет КС
											div 
												strong -
										li
											div Макс. кол-во касет КВ
											div 
												strong -
										li
											div Макс. кол-во касет К48
											div 
												strong -
										li
											div Необходимость кабельных вводов
											div 
												strong есть
										li
											div Способ герметизации
											div 
												strong «горячий»
										li
											div Длинна, мм. 
											div 
												strong 527 
										li
											div Диаметр, мм.
											div 
												strong 159
										li
											div Масса, кг.
											div 
												strong 3,8
								.tabs-cont.js-tabs-cont(data-id="#picking")
									ul.table-list
										li
											div Макс. кол-во касет КС
											div 
												strong -
										li
											div Макс. кол-во касет КВ
											div 
												strong -
										li
											div Макс. кол-во касет К48
											div 
												strong -
										li
											div Необходимость кабельных вводов
											div 
												strong есть
										li
											div Способ герметизации
											div 
												strong «горячий»
										li
											div Длинна, мм. 
											div 
												strong 527 
										li
											div Диаметр, мм.
											div 
												strong 159
										li
											div Масса, кг.
											div 
												strong 3,8

						button.product-item__more.js-open-parent(type="button", data-text="Скрыть") 
							span Показать все
					.items-wrap.items-wrap_group
						.items-wrap__title Сопутствующие товары
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
					.items-wrap.items-wrap_group
						.items-wrap__title Аналоги
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket

					

									


								
				
			.push
		include _footer.jade

