doctype
html

	head
		include _head.jade
		title item
	body
		.out
			include _header.jade
			.main
				include _sidebar.jade	
				.main__content
					.page-head
						.page-title Муфта МТОК-А1/216-1КТ3645-К-77 (проволочная броня)
					.item-number Номенклатурный номер: 
						strong 130103-00071
					.row.product-item.js-parent
						.col.col_3
							.fotorama(
								data-nav="thumbs", 
								data-width="100%",
								data-min-height="400px",
								data-loop="true",
								data-thumbheight="100"
							)
								a(href="img/slide-big.png")
									img(src="img/slide-small.png",width="140", height="100", alt="img")
								a(href="img/slide-big.png")
									img(src="img/slide-small.png",width="140", height="100", alt="img")
								a(href="img/slide-big.png")
									img(src="img/slide-small.png",width="140", height="100", alt="img")
								a(href="img/slide-big.png")
									img(src="img/slide-small.png",width="140", height="100", alt="img")
							.article
								h2 Описание
								p Компания «СВЯЗЬСТРОЙДЕТАЛЬ», основной российский производитель оптических муфт, продолжает производство магистральных оптических муфт МТОК-А1. Муфты представляют собой модернизированный вариант широко распространённой муфты МТОК 96-О1-IV. 
								p В новой муфте используются те же детали корпуса, кронштейн, подкассетник и кабель-ные вводы №7 и №8. Но кассета изменилась. Теперь на ней не 32 места для КДЗС, а 36. Соответственно увеличилась до 216 сварок и общая ёмкость муфты.
								h3 Особенности: 
								ul
									li муфта предназначена для сращивания подземных и подводных ОК с бронёй из стальных проволок; 
									li может устанавливаться в колодцах, в котлованах и на дне водоёмов глубиной до 10 метров; 
									li муфта имеет три патрубка для ввода ОК и три малых патрубка для вывода проводов заземления (КИП); 
									li монтируется в вариантах «прямая муфта с вводом двух кабелей» и в варианте «разветвительная муфта с вводом трёх кабелей»; 
									li корпус муфты и вводы кабелей герметизируются трубками ТУТ с подклеивающим слоем; 
									li внутренние элементы муфты полностью соответствуют требованиям «Правил» 2006 г.; 
									li муфты поставляются с двумя установленными кабельными вводами; 
									li для сращивания двух подземных бронированных кабелей поставляется типоразмер 130103-00071. Муфта МТОК-А1/216-1КТ3645-К-77; 
									li для сращивания подземного и подводного бронированных кабелей поставляется типоразмер 130103-00072. Муфта МТОК-А1/216-1КТ3645-К-78; 
									li для сращивания двух подводных бронированных кабелей поставляется типоразмер 130103-00073. Муфта МТОК-А1/216-1КТ3645-К-88; 
									li в базовом комплекте муфты одна кассета с гильзами КДЗС и два кабельных ввода; 
									li для ввода в муфты третьего кабеля отдельно поставляются кабельные вводы №7 и №8; 
									li для увеличения ёмкости муфты отдельно поставляются «Комплекты кассеты КТ3645» с гильзами, стяжками и маркерами; 
									li для вывода из муфт проводов отдельно поставляется «Комплект провода заземления»; 
									li для оборудования подземного скрытого КИП поставляется «Контейнер проводов заземления»; 
									li для защиты оптической муфты при укладке её на дно водоёма отдельно поставляется муфта защитная МЧЗ и стальные крепления – кронштейн и фиксатор кабелей; 
									li для защиты оптической муфты при установке её в котлованах отдельно поставляются защитные муфты МЧЗ или МПЗ (выбираются по типу грунта); 
									li во всех вариантах установки защитные муфты заливаются вспенивающимся герметиком; 
									li для установки муфты в новых колодцах отдельно поставляется «Кронштейн для установки тупиковых муфт в колодцах»; 
									li для установки муфт в заполненных колодцах, под потолком, поставляются консоли типа КСО с крепежом; 
									li для установки кабельных вводов отдельно поставляется «Ключ для монтажа МТОК; 
									li для организации рабочего места для монтажа отдельно поставляются кронштейны и струбцины; 
									li имеются инструкции по монтажу, как самой оптической муфты, так и кассеты типа КТ3645 и муфт защитных. 
						.col.col_2
							.row
								.col.col_12
									
								.col.col_12
						button.product-item__more.js-open-parent(type="button", data-text="Скрыть") 
							span Показать все
					.items-wrap.items-wrap_group
						.items-wrap__title Сопутствующие товары
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
					.items-wrap.items-wrap_group
						.items-wrap__title Аналоги
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket
						.item
							.item__img
								a(href="#")
									img(src="img/item1.jpg", alt="img")
							.item__main
								.item__head
									.item__meta
										span 120230-45
										strong На складе
									.item__title
										a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
								.item__action
									.wrap
										.item__left
											.price.price_big
												.price__val 195,00
													i.icon-rub-m
										.item__right
											.price.price_small
												.price__title Цена с НДС
												.price__val 262,88
													i.icon-rub-s
									.wrap
										.item__left
											.number.js-number(data-max-number="100")
												button.number__minus.js-minus-number(type="button")
												input.number__input(type="text", value="5", maxlength="3")
												button.number__plus.js-plus-number(type="button")
										.item__right
											a.btn.btn_width.btn_basket(href="#")
												i.icon-basket

					

									


								
				
			.push
		include _footer.jade

